{% extends 'log/base.html' %}

{% block content %}
<p></p>
<p></p>
<h5>
Столбы модели:

    'TerminalUnit: Одна сделка. ' \
                        'Требования: ' \
                        '1. Средняя цена одной сделки. ' \
                        'В данной модели в качестве единицы предлагается брать сделку в 10 000 USD.'

                        'Ликвидность: Купить и Продать TerminalUnit не составит особой магии. ' \
            'Рынок подержанных авто - Да, рынок корпоративных решений в сфере IT - Нет' \
            ''
</h5>

{% endblock %}